
 /*------------- Whole Document---------------- */

body, html {
  background-color: #ecf6ff;
  font-size: 36px;
  margin: 0;
  padding: 0;
  height: 100%;
}

/*----------LOGO above TOC---------*/

#TOC::before {
  content: "";
  display: block;
  height: 200px;
  margin: 20px 20px 40px 20px;
  background-image: url("logo.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

/*---------points and headers----------*/

p{
  font-family: "Avenir";
  font-size: 16px;
  margin-left: 0px;
  margin-right: 0px;
  color: #696969;

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Avenir', sans-serif;
    color: #1c3aa9;
}

/*------------Table of Contents (TOC)----------- */


.tocify {
  background-color: #ecf6ff;
  border: none;   /*Removes border */
  border-radius: 0px; /* Gets rid of rounded corners on TOC */
  font-size: 16px;
}