
 /*------------- Whole Document---------------- */

body, html {
  background-color: #ecf6ff;
  font-size: 36px;
  margin: 0;
  padding: 0;
  height: 100%;
}

img[alt]:after {
  content: attr(alt); 
  display: block;
  font-size: 12px;
  color: #696969;
  margin-top: 5px;
}

/*---------titles----------*/

.title {
  font-size: 24px;
  font-weight: bold;
}

.subtitle {
  font-size: 20px;
  font-style: bold;
  color: #696969; 
}

.author {
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  color: #696969; 
}

.date {
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  color: #696969; 
}

/*----------LOGO above TOC---------*/

#TOC::before {
  content: "";
  display: block;
  height: 200px;
  margin: 20px 20px 40px 20px;
  background-image: url("logo.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

/*---------paragraph and headers----------*/

p{
  font-family: "Avenir";
  font-size: 14px;
  margin-left: 0px;
  margin-right: 0px;
  color: #696969;

}

ul, ol {
  font-family: "Avenir";
  font-size: 14px; 
  margin-left: 8px; 
  color: #696969; 
}

h1 {
  font-family: 'Avenir', sans-serif;
  font-size: 24px;
  color: #1c3aa9;
}

h2 {
  font-family: 'Avenir', sans-serif;
  font-size: 18px;
  color: #1c3aa9;
}

h3 {
  font-family: 'Avenir', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #696969; 
}

h4 {
  font-family: 'Avenir', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #696969; 
}

/*------------table----------- */

.table-container {
  max-width: 800px; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the table horizontally */
}

.table-container table {
  width: 100%; /* Make the table fill its container */
}

/*------------Table of Contents (TOC)----------- */

.tocify {
  background-color: #ecf6ff;
  border: none;  
  border-radius: 0px;
  font-size: 16px;
}